<div class="post-card">
  <div class="post-card-header">
    
    <p>post</p>
    <a  href="/api/post/{{id}}"><h3>view {{title}}</h3></a>
    <li>Created by: {{User.name}}</li>
    <li>Post title: {{title}}</li>
    <li>Created at: {{created_at}}</li>
    <li>Post topic: {{topic}}</li>
    <li>Post: {{description}}</li>

  </div>
</div>