<div class="post-card">
  <div class="post-card-header">
    <a  href="/post/{{id}}"></a>
    <p> new post</p>
    <li>{{User.name}}</li>
    <li>{{title}}</li>
    <li>{{topic}}</li>
    <li>{{description}}</li>

  </div>
</div>