<div class="post-card">
  <div class="post-card-header" data-id ="{{id}}">
    
    <p>post</p>
    
    <li>Created by: {{User.name}}</li>
    <li>Post title: {{title}}</li>
    <li>Created at: {{created_at}}</li>
    <li>Post topic: {{topic}}</li>
    <li>Post: {{description}}</li>
    
    <button id="post-delete" data-id="{{id}}">Delete This Post</button>
  </div>
  <script src="/js/editpost.js"></script>  
</div>